/* 3-Across */
.citrusStylesSE-heading__sub {
  opacity: 1;
}
.citrusStylesSE-grid__cell {
  padding: 0;
}
.citrusStylesSE-card {
  width: 205px;
  max-width: 100%;
  border-radius: var(--citrusStylesSE-spacing-small);
  margin: 0 auto;
}

.citrusStylesSE-card__img img {
  object-fit: contain;
}

.citrusStylesSE-sheba__education {
  align-items: center;
  justify-content: center;
}

.citrusStylesSE-sheba .citrusStylesSE-disclaimer {
  padding: 30px 0 0;
  color: #000;
}
@media all and (max-width: 767px) {
  .citrusStylesSE-sheba__education {
    justify-content: flex-start;
  }
  .citrusStylesSE-card {
    width: 177px;
  }
  .citrusStylesSE-sheba__education .citrusStylesSE-grid__cell {
    padding-right: 34px;
    padding-left: 34px;
  }
  .citrusStylesSE-sheba__education .citrusStylesSE-grid__cell:first-child {
    padding-left: 68px !important;
  }

  .citrusStylesSE-sheba__education .citrusStylesSE-grid__cell:last-child {
    padding-right: 68px !important;
  }
  .citrusStylesSE-sheba .citrusStylesSE-disclaimer {
    padding: 20px;
    text-align: center;
  }
}
/* End 3-Across */
